---
extends: default
ignore: |
  .collections/
  .ansible/
  .venv/
  node_modules/
  artifacts/
  reports/output/
  www/
rules:
  line-length:
    max: 160
    level: warning
  document-start: disable
  truthy:
    allowed-values: ['true', 'false']
