---
extends: default
ignore: |
  .collections/
  .ansible/
  .venv/
  node_modules/
  artifacts/
  reports/output/
  www/
  hosts_lexample.yml
  group_vars/example/networking.yml
  roles/bmc_discovery/tasks/main.yml
  roles/rhoso_preflight/tasks/main.yml
  playbooks/02-install-operators.yml
  playbooks/openstack-prepare.yml
  playbooks/04-configure-rhoso-network.yml
  playbooks/assited-test-network.yml
rules:
  line-length:
    max: 160
    level: warning
  document-start: disable
  truthy:
    allowed-values: ['true', 'false']
