[defaults]
inventory = inventories/sample/hosts.yml
roles_path = roles
filter_plugins = filter_plugins
collections_path = .collections:~/.ansible/collections:/usr/share/ansible/collections
stdout_callback = default
result_format = yaml
retry_files_enabled = False
host_key_checking = False
interpreter_python = auto_silent
collections_on_ansible_version_mismatch = error

[privilege_escalation]
become = False
