{
  "name": {{ cluster_name | to_json }},
  "openshift_version": {{ openshift_version | to_json }},
  "base_dns_domain": {{ base_dns_domain | to_json }},
  "pull_secret": {{ pull_secret | to_json }},
  "cpu_architecture": {{ cpu_architecture | default('x86_64') | to_json }},
  "control_plane_count": {{ control_plane_count | int }},
  "api_vips": [{"ip": {{ api_vip | to_json }}}],
  "ingress_vips": [{"ip": {{ ingress_vip | to_json }}}],
  "machine_networks": [{"cidr": {{ machine_network_cidr | to_json }}}],
  "service_network_cidr": {{ service_network_cidr | to_json }},
  "cluster_network_cidr": {{ cluster_network_cidr | to_json }},
  "cluster_network_host_prefix": {{ cluster_network_host_prefix | int }},
  "additional_ntp_source": {{ ntp_servers | default([]) | join(',') | to_json }},
  "ssh_public_key": {{ ssh_public_key | to_json }},
  "platform": {"type": "baremetal"}
}
