---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ operator_component.namespace }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ operator_lifecycle_component }}
  namespace: {{ operator_component.namespace }}
spec:
  targetNamespaces:
    - {{ operator_component.namespace }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ operator_lifecycle_component }}
  namespace: {{ operator_component.namespace }}
spec:
  channel: {{ operator_component.olm.channel }}
  installPlanApproval: Automatic
  name: {{ operator_component.olm.package }}
  source: {{ operator_component.olm.source }}
  sourceNamespace: {{ operator_component.olm.source_namespace }}
