apiVersion: v1
kind: Secret
metadata:
  name: {{ rhoso_osp_secret_name }}
  namespace: {{ rhoso_project_name }}
type: Opaque
data:
  AdminPassword: {{ rhoso_osp_secret.AdminPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.AdminPassword | b64encode) }}
  AodhPassword: {{ rhoso_osp_secret.AodhPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.AodhPassword | b64encode) }}
  BarbicanPassword: {{ rhoso_osp_secret.BarbicanPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.BarbicanPassword | b64encode) }}
  BarbicanSimpleCryptoKEK: {{ rhoso_osp_secret.BarbicanSimpleCryptoKEK if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.BarbicanSimpleCryptoKEK | b64encode) }}
  CeilometerPassword: {{ rhoso_osp_secret.CeilometerPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.CeilometerPassword | b64encode) }}
  CinderPassword: {{ rhoso_osp_secret.CinderPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.CinderPassword | b64encode) }}
  DbRootPassword: {{ rhoso_osp_secret.DbRootPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.DbRootPassword | b64encode) }}
  DesignatePassword: {{ rhoso_osp_secret.DesignatePassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.DesignatePassword | b64encode) }}
  GlancePassword: {{ rhoso_osp_secret.GlancePassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.GlancePassword | b64encode) }}
  HeatAuthEncryptionKey: {{ rhoso_osp_secret.HeatAuthEncryptionKey if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.HeatAuthEncryptionKey | b64encode) }}
  HeatPassword: {{ rhoso_osp_secret.HeatPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.HeatPassword | b64encode) }}
  IronicInspectorPassword: {{ rhoso_osp_secret.IronicInspectorPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.IronicInspectorPassword | b64encode) }}
  IronicPassword: {{ rhoso_osp_secret.IronicPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.IronicPassword | b64encode) }}
  ManilaPassword: {{ rhoso_osp_secret.ManilaPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.ManilaPassword | b64encode) }}
  MetadataSecret: {{ rhoso_osp_secret.MetadataSecret if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.MetadataSecret | b64encode) }}
  NeutronPassword: {{ rhoso_osp_secret.NeutronPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.NeutronPassword | b64encode) }}
  NovaPassword: {{ rhoso_osp_secret.NovaPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.NovaPassword | b64encode) }}
  OctaviaHeartbeatKey: {{ rhoso_osp_secret.OctaviaHeartbeatKey if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.OctaviaHeartbeatKey | b64encode) }}
  OctaviaPassword: {{ rhoso_osp_secret.OctaviaPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.OctaviaPassword | b64encode) }}
  PlacementPassword: {{ rhoso_osp_secret.PlacementPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.PlacementPassword | b64encode) }}
  SwiftPassword: {{ rhoso_osp_secret.SwiftPassword if (rhoso_osp_secret_values_are_base64 | default(false)) else (rhoso_osp_secret.SwiftPassword | b64encode) }}
