{% for node in rhoso_worker_nodes %}
---
apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: osp-net-{{ node | lower | replace('_', '-') }}
spec:
  nodeSelector:
    kubernetes.io/hostname: {{ node }}
  desiredState:
{% if rhoso_dns_nameservers | default([]) | length > 0 %}
    dns-resolver:
      config:
        server:
{% for nameserver in rhoso_dns_nameservers %}
          - {{ nameserver }}
{% endfor %}
{% endif %}
    interfaces:
{% for interface in rhoso_interfaces | default([]) %}
      - name: {{ interface.name }}
        type: ethernet
        state: up
        mtu: {{ interface.mtu | default(9000) }}
{% endfor %}
{% for network in (rhoso_isolated_networks | default([])) + (rhoso_storage_networks | default([])) %}
      - name: >-
          {{ network.interface | default(network.bond | default(rhoso_isolated_base_iface | default('bond0'))) }}.{{ network.vlan_id }}
        type: vlan
        state: up
        mtu: {{ network.mtu | default(9000) }}
        vlan:
          base-iface: {{ network.interface | default(network.bond | default(rhoso_isolated_base_iface | default('bond0'))) }}
          id: {{ network.vlan_id }}
        ipv4:
          enabled: {{ (ocp_worker_node_ips[node][network.name] is defined) | lower }}
          dhcp: false
{% if ocp_worker_node_ips[node][network.name] is defined %}
          address:
            - ip: "{{ ocp_worker_node_ips[node][network.name] }}"
              prefix-length: {{ network.prefix_length }}
{% endif %}
{% endfor %}
{% if rhoso_default_gw | default('') | length > 0 %}
    routes:
      config:
        - destination: 0.0.0.0/0
          next-hop-address: "{{ rhoso_default_gw }}"
          next-hop-interface: {{ rhoso_default_route_interface | default('br-ex') }}
{% endif %}
{% endfor %}
