{% for node in ansible_play_batch %}
---
apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: osp-net-{{ node }}
spec:
  nodeSelector:
    kubernetes.io/hostname: {{ node }}
    {{ rhoso_worker_label_key }}: ""
  desiredState:
{% if rhoso_dns_nameservers is defined and (rhoso_dns_nameservers | length) > 0 %}
    dns-resolver:
      config:
        server:
{% for ns in rhoso_dns_nameservers %}
          - {{ ns }}
{% endfor %}
{% endif %}
    interfaces:
# Define nics here
{% for interface in rhoso_interfaces %}
      - name: {{ interface.name }}
        type: ethernet
        state: up
        mtu: 9000
{% endfor %}

# Define the LAN Bond here
      - name: bond0
        type: bond
        state: up
        mtu: 9000
        ipv4:
          enabled: false
          dhcp: false  
        link-aggregation:
          mode: 802.3ad
          options:
            miimon: '100'
          port:
{% for interface in rhoso_interfaces %}
{% if interface.bond == 'bond0' %}
            - {{ interface.name }}
{% endif %}
{%- endfor %}
        ipv6:
          enabled: false

# Define the OVS Bridge here
      - name: br-ex
        type: ovs-bridge
        state: up
        mtu: 9000
        ovs-bridge:
          ports:
            - name: bond0
{% for network in rhoso_isolated_networks %}
{% if network.bond == 'bond0' %}
            - name: vlan{{ network.vlan_id }}
{% endif %}
{%- endfor %}
        ipv4:
          enabled: true
          dhcp: false
          address:
            - ip: "{{ hostvars[node].node_ipv4_address }}"
              prefix-length: {{ hostvars[node].node_ipv4_prefix | int }}   
        ipv6:
          enabled: false

# Handled bonded vlans here 
{% for network in rhoso_isolated_networks + rhoso_storage_networks %}
{% if network.bond != 'none' %}
      - name: vlan{{ network.vlan_id }}
        type: vlan
        state: up
        mtu: 9000
        vlan:
          base-iface: {{ network.bond }}
          id: {{ network.vlan_id }}
        ipv4:
          enabled: true
          dhcp: false
          address:
            - ip: "{{ ocp_worker_node_ips[node][network.name] }}"
              prefix-length: 24
{% endif %}
{% endfor %}

# Handle virtual nic vlans here
{% for network in rhoso_isolated_networks %}
{% if network.bond == 'none' %}
      - name: {{ network.interface }}.{{ network.vlan_id }}
        type: vlan
        state: up
        mtu: 9000
        vlan:
          base-iface: {{ network.interface }}
          id: {{ network.vlan_id }}
        ipv4:
          enabled: true
          dhcp: false
          address:
            - ip: "{{ ocp_worker_node_ips[node][network.name] }}"
              prefix-length: {{ network.prefix_length }}

{% endif %}
{% endfor %}

      - name: bond-nfs
        type: bond
        state: up
        mtu: 9000
        link-aggregation:
          mode: active-backup
          port:
{% for interface in rhoso_interfaces %}
{% if interface.bond == 'bond-nfs' %}
            - {{ interface.name }}
{% endif %}
{%- endfor %}

    routes:
      config:
        - destination: 0.0.0.0/0
          next-hop-address: "{{ node_ipv4_gateway }}"
          next-hop-interface: {{ rhoso_isolated_base_iface }}
{% endfor %}
