interfaces:
  - name: nic0
    type: ethernet
    state: up
    mtu: 9000
  - name: nic1
    type: ethernet
    state: up
    mtu: 9000
  - name: nic2
    type: ethernet
    state: up
    mtu: 9000
  - name: nic3
    type: ethernet
    state: up
    mtu:9000

  - name: bond0
    type: bond
    state: up
    mtu: 9000
    bond:
      mode: 802.3ad
      miimon: 100
      min_links: 1
      members:
        - nic0
        - nic1

  - name: br-ex
  type: ovs-bridge
  state: up
  mtu: 9000
  bridge:
    interfaces:
      - bond0
  ipv4:
    enabled: true
    dhcp: false
    address:
      - ip: "{{ hostvars[target_host].node_ipv4_address }}"
        prefix-length: {{ hostvars[target_host].node_ipv4_prefix | int }}
  ipv6:
    enabled: false

  - name: br-nfs
    type: bond
    state: up
    mtu: 9000
    bond:
      mode: active-backup
      members:
        - nic3
        - nic4


dns-resolver:
  config:
    server: 
{% for server in node_dns_servers %}
      - "{{ server }}"
{% endfor %}
routes:
  config:
    - destination: 0.0.0.0/0
      next-hop-interface: nic0
      next-hop-address: "{{ hostvars[target_host].node_ipv4_gateway }}"
